html, body{
	background: #222d32;
	width: 100%;
}
table th,td{
	border: 1px #000 solid;
}
#edit-table > tbody > tr{
	width:135px;
	height:100px;
}

#edit-table > tbody > tr:nth-child(1){
	width:135px;
	height:30px;
}
#timetable-table {
	table-layout: fixed;
	width: 100%;
}
#timetable-table th {
	text-align: center;
	border:1px solid #84b2e0;
}
#timetable-table .table-header th {
	color: #fff;
	padding: 8px 15px;
	background: #258;
	background:-moz-linear-gradient(rgba(34,85,136,0.7), rgba(34,85,136,0.9) 50%);
	background:-webkit-gradient(linear, 100% 0%, 100% 50%, from(rgba(34,85,136,0.7)), to(rgba(34,85,136,0.9)));
	font-weight: bold;
	border-left:1px solid #258;
	border-top:1px solid #258;
	border-bottom:1px solid #258;
	line-height: 120%;
	text-align: center;
	text-shadow:0 -1px 0 rgba(34,85,136,0.9);
	box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
}
#timetable-table th:first-child {
	border-radius: 5px 0 0 0;
}
#timetable-table th:last-child {
	border-radius:0 5px 0 0;
	border-right:1px solid #258;
	box-shadow: 2px 2px 1px rgba(0,0,0,0.1),0px 1px 1px rgba(255,255,255,0.3) inset;
}
#timetable-table tr {
	height: 90px;
}
#timetable-table tr:first-child {
	height: auto;
}
#timetable-table tr td {
	border-bottom: 1px solid #84b2e0;
	border-left: 1px solid #84b2e0;
	text-align: center;
}
#timetable-table tr td:last-child {
	border-right: 1px solid #84b2e0;
	box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
}
#timetable-table tr {
	background: #fff;
}
#timetable-table tr:nth-child(2n+1) {
	background: #f1f6fc;
}
#timetable-table tr:last-child td {
	box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
}
#timetable-table tr:last-child td:first-child {
	border-radius: 0 0 0 5px;
}
#timetable-table tr:last-child td:last-child {
	border-radius: 0 0 5px 0;
}
.active-row th, .active-td{
	background: #bbd4ee !important;
}
#timetable-table .now {
	background: #bbd4ee !important;
}
.note,input[name="titleedit"]{
	display: none;
}
textarea[name="note"]{
	width:100%;
	resize: none;
}
/*担任割り当てページ*/
#HRTEACHER .form-button {
	margin-top: 24px;
}
/*授業割り当てページ*/
#ATTACHMENT_LESSON .form-button {
	margin-top: 24px;
}
/*カレッジ一覧ページ*/
#COLLEGE_LIST #form_college_add {
	margin-left: 10px;
	margin-right: 20px;
}
#COLLEGE_LIST #form_college_add .form-control{
	margin-left: 10px;
	width: 300px;
}
#COLLEGE_LIST .college-name:hover {
	background: #ddd;
	cursor: pointer;
}
#COURSE_LIST .course-edit:hover {
	background: #ddd;
	cursor: pointer;
}

/***********時間割作成画面**************/
#TIMETABLE_ADD td {
	cursor: pointer;
}
#TIMETABLE_ADD td:hover {
	background-color: #FFFCCC;
}
#TIMETABLE_ADD .active {
	background-color: #FFFCCC;
}
#TIMETABLE_ADD td:hover.active {
	background-color: #FFFFAA;
}
#TIMETABLE_ADD thead th {
	width: 16%;
}
#TIMETABLE_ADD p.subject {
	font-size: 14px;
	font-weight: 900;
}
#TIMETABLE_ADD p.teacher {
	font-size: 13px;
}
#TIMETABLE_ADD p.classroom {
	font-size: 16px;
}
#TIMETABLE_ADD #selection.inactive {
	background-color: #808080;
	border-color: #808080;
}
#TIMETABLE_ADD table td span {
	display: none;
}
#TIMETABLE_ADD table td {
	height: 127px;
}
#TIMETABLE_ADD table tbody th{
	vertical-align: middle;
}

#TIMETABLE_ADD input[readonly] {
	background-color: #f8f8f8;
	border: 0 !important;
	border-bottom: 1px solid #eee !important;
}
#TIMETABLE_ADD .modal-content {
	-webkit-border-radius: 22px;
	-moz-border-radius: 22px;
	border-radius: 22px;
	background-color: #f8f8f8;
}
#TIMETABLE_ADD .modal-content .form-group {
	padding: 10px 0;
}

/*************************************/

/***********時間割編集画面**************/
#TIMETABLE_EDIT td {
	cursor: pointer;
}
#TIMETABLE_EDIT td:hover {
	background-color: #FFFCCC;
}
#TIMETABLE_EDIT .active {
	background-color: #FFFCCC;
}
#TIMETABLE_EDIT td:hover.active {
	background-color: #FFFFAA;
}
#TIMETABLE_EDIT thead th {
	width: 16%;
}
#TIMETABLE_EDIT p.subject {
	font-size: 14px;
	font-weight: 900;
}
#TIMETABLE_EDIT p.teacher {
	font-size: 13px;
}
#TIMETABLE_EDIT p.classroom {
	font-size: 16px;
}


#TIMETABLE_EDIT #selection.inactive {
	background-color: #808080;
	border-color: #808080;
}
#TIMETABLE_EDIT table td span {
	display: none;
}
#TIMETABLE_EDIT table td {
	height: 127px;
}
#TIMETABLE_EDIT table tbody th{
	vertical-align: middle;
}

#TIMETABLE_EDIT input[readonly] {
	background-color: #f8f8f8;
	border: 0 !important;
	border-bottom: 1px solid #eee !important;
}
#TIMETABLE_EDIT .modal-content {
	-webkit-border-radius: 22px;
	-moz-border-radius: 22px;
	border-radius: 22px;
	background-color: #f8f8f8;
}
#TIMETABLE_EDIT .modal-content .form-group {
	padding: 10px 0;
}

/*************************************/

/***********時間割表示画面************/
#TIMETABLE_VIEW td {
	cursor: pointer;
}
/*#TIMETABLE_VIEW td:hover {*/
	/*background-color: #FFFCCC;*/
/*}*/
#TIMETABLE_VIEW .active {
	background-color: #FFFCCC;
}
#TIMETABLE_VIEW td:hover.active {
	background-color: #FFFFAA;
}
#TIMETABLE_VIEW thead th {
	width: 16%;
}
#TIMETABLE_VIEW #week-select {
	margin-bottom: 10px;
}
#TIMETABLE_VIEW p.subject {
	font-size: 14px;
	font-weight: 900;
}
#TIMETABLE_VIEW p.teacher {
	font-size: 13px;
}
#TIMETABLE_VIEW p.classroom {
	font-size: 16px;
}

#TIMETABLE_VIEW #selection.inactive {
	background-color: #808080;
	border-color: #808080;
}
#TIMETABLE_VIEW table td span,#TIMETABLE_EDIT table td span{
	display: none;
}
#TIMETABLE_VIEW table td {
	height: 127px;
}
#TIMETABLE_VIEW table tbody th{
	vertical-align: middle;
}

#TIMETABLE_VIEW .today {
	background-color: #FFFCDB;
}
#TIMETABLE_VIEW th.today {
	background: rgba(255,252,219,0.5);
}
#TIMETABLE_VIEW .now {
	background-color: #FFFAB5;
}

/*************************************/

/*TODO @Author kasai リファクタリング*/
/*#COLLEGE_LIST #edit_modal_content {*/
	/*display: none;*/
	/*z-index: 1;*/
	/*position: fixed;*/
	/*border: 2px solid #aaa;*/
	/*background: #fff;*/
/*}*/
#edit_modal_content {
	display: none;
	z-index: 1;
	position: fixed;
	width: 350px;
	text-align: center;
	/*border: 2px solid #aaa;*/
	/*background: #fff;*/
}
.custom-alert-success {
	color: #3c763d;
	background-color: #e9ffd9;
	background-image: url("../img/success.png");
	background-repeat: no-repeat;
	background-position: 10px 50%;
	background-size: auto 30px;
	border-color: #3c763d;
	box-shadow:0px 0px 50px;
}
.custom-alert-danger {
	color: #a94442;
	background-color: #f2dede;
	background-image: url("../img/error.png");
	background-repeat: no-repeat;
	background-position: 10px 50%;
	background-size: auto 30px;
	border-color: #a94442;
	box-shadow:0px 0px 30px;
}
/*TODO ここまで*/
#note_view{
	color: #fff;
	display: none;
	position: absolute;
	border: 1px solid;
	background-color: #5c4d4a;
	padding: 5px 10px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#note_view:after, #note_view:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#note_view:after {
	border-color: rgba(92, 77, 74, 0);
	border-bottom-color: #5c4d4a;
	border-width: 5px;
	margin-left: -5px;
}
#note_view:before {
	border-color: rgba(92, 77, 74, 0);
	border-bottom-color: #5c4d4a;
	border-width: 11px;
	margin-left: -11px;
}

/*****************出席率一覧画面**********************/
#ATTENDANCE_RATE_LIST thead tr {
	background-color: #CB422C;
	color: #fff;
}
#ATTENDANCE_RATE_LIST .badge {
	width:43.2969px;
}
@media screen and (max-width: 480px) {
	#ATTENDANCE_RATE_LIST tbody td:nth-child(4) {
		text-align: center;
	}
}
/*****************************************************/

/*************出席取るクラス一覧画面******************/

#RESPONSIBLE_LIST .box {
	position: relative;
	border: 3px solid #D73925;
}
#RESPONSIBLE_LIST .box-body {
	margin: 8px;
	padding: 10px;
	border: 1px solid;
	border-color: #D73925;
}
#RESPONSIBLE_LIST .class_name {
	padding-top: 18px;
	text-align: right;
	color: #000;
}
#RESPONSIBLE_LIST .lesson_name {
	position: absolute;
	background-color: #D73925;
	left: 0;
	padding: 5px;
	color: #fff;
}
/*********************************************************/