html, body{
	background: #222d32;
	width: 100%;
}
table th,td{
	border: 1px #000 solid;
}
#edit-table > tbody > tr{
	width:135px;
	height:100px;
}

#edit-table > tbody > tr:nth-child(1){
	width:135px;
	height:30px;
}
#timetable-table {
	table-layout: fixed;
	width: 100%;
}
#timetable-table th {
	text-align: center;
	border:1px solid #84b2e0;
}
#timetable-table .table-header th {
	color: #fff;
	padding: 8px 15px;
	background: #258;
	background:-moz-linear-gradient(rgba(34,85,136,0.7), rgba(34,85,136,0.9) 50%);
	background:-webkit-gradient(linear, 100% 0%, 100% 50%, from(rgba(34,85,136,0.7)), to(rgba(34,85,136,0.9)));
	font-weight: bold;
	border-left:1px solid #258;
	border-top:1px solid #258;
	border-bottom:1px solid #258;
	line-height: 120%;
	text-align: center;
	text-shadow:0 -1px 0 rgba(34,85,136,0.9);
	box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
}
#timetable-table th:first-child {
	border-radius: 5px 0 0 0;
}
#timetable-table th:last-child {
	border-radius:0 5px 0 0;
	border-right:1px solid #258;
	box-shadow: 2px 2px 1px rgba(0,0,0,0.1),0px 1px 1px rgba(255,255,255,0.3) inset;
}
#timetable-table tr {
	height: 90px;
}
#timetable-table tr:first-child {
	height: auto;
}
#timetable-table tr td {
	border-bottom: 1px solid #84b2e0;
	border-left: 1px solid #84b2e0;
	text-align: center;
}
#timetable-table tr td:last-child {
	border-right: 1px solid #84b2e0;
	box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
}
#timetable-table tr {
	background: #fff;
}
#timetable-table tr:nth-child(2n+1) {
	background: #f1f6fc;
}
#timetable-table tr:last-child td {
	box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
}
#timetable-table tr:last-child td:first-child {
	border-radius: 0 0 0 5px;
}
#timetable-table tr:last-child td:last-child {
	border-radius: 0 0 5px 0;
}
.active-row th, .active-td{
	background: #bbd4ee !important;
}
#timetable-table .now {
	background: #bbd4ee !important;
}
.note,input[name="titleedit"]{
	display: none;
}
textarea[name="note"]{
	width:100%;
	resize: none;
}
/*担任割り当てページ*/
#HRTEACHER .form-button {
	margin-top: 24px;
}
/*授業割り当てページ*/
#ATTACHMENT_LESSON .form-button {
	margin-top: 24px;
}
/*カレッジ一覧ページ*/
#COLLEGE_LIST #form_college_add {
	margin-left: 10px;
	margin-right: 20px;
}
#COLLEGE_LIST #form_college_add .form-control{
	margin-left: 10px;
	width: 300px;
}
#COLLEGE_LIST .college-name:hover {
	background: #ddd;
	cursor: pointer;
}
#COURSE_LIST .course-edit:hover {
	background: #ddd;
	cursor: pointer;
}

/***********時間割作成画面**************/
#TIMETABLE_ADD td {
	cursor: pointer;
}
#TIMETABLE_ADD td:hover {
	background-color: #FFFCCC;
}
#TIMETABLE_ADD .active {
	background-color: #FFFCCC;
}
#TIMETABLE_ADD td:hover.active {
	background-color: #FFFFAA;
}
#TIMETABLE_ADD thead th {
	width: 16%;
}
#TIMETABLE_ADD p.subject {
	font-size: 14px;
	font-weight: 900;
}
#TIMETABLE_ADD p.teacher {
	font-size: 13px;
}
#TIMETABLE_ADD p.classroom {
	font-size: 16px;
}
#TIMETABLE_ADD #selection.inactive {
	background-color: #808080;
	border-color: #808080;
}
#TIMETABLE_ADD table td span {
	display: none;
}
#TIMETABLE_ADD table td {
	height: 127px;
}
#TIMETABLE_ADD table tbody th{
	vertical-align: middle;
}

#TIMETABLE_ADD input[readonly] {
	background-color: #f8f8f8;
	border: 0 !important;
	border-bottom: 1px solid #eee !important;
}
#TIMETABLE_ADD .modal-content {
	-webkit-border-radius: 22px;
	-moz-border-radius: 22px;
	border-radius: 22px;
	background-color: #f8f8f8;
}
#TIMETABLE_ADD .modal-content .form-group {
	padding: 10px 0;
}

/*************************************/

/***********時間割編集画面**************/
#TIMETABLE_EDIT td {
	cursor: pointer;
}
#TIMETABLE_EDIT td:hover {
	background-color: #FFFCCC;
}
#TIMETABLE_EDIT .active {
	background-color: #FFFCCC;
}
#TIMETABLE_EDIT td:hover.active {
	background-color: #FFFFAA;
}
#TIMETABLE_EDIT thead th {
	width: 16%;
}
#TIMETABLE_EDIT p.subject {
	font-size: 14px;
	font-weight: 900;
}
#TIMETABLE_EDIT p.teacher {
	font-size: 13px;
}
#TIMETABLE_EDIT p.classroom {
	font-size: 16px;
}


#TIMETABLE_EDIT #selection.inactive {
	background-color: #808080;
	border-color: #808080;
}
#TIMETABLE_EDIT table td span {
	display: none;
}
#TIMETABLE_EDIT table td {
	height: 127px;
}
#TIMETABLE_EDIT table tbody th{
	vertical-align: middle;
}

#TIMETABLE_EDIT input[readonly] {
	background-color: #f8f8f8;
	border: 0 !important;
	border-bottom: 1px solid #eee !important;
}
#TIMETABLE_EDIT .modal-content {
	-webkit-border-radius: 22px;
	-moz-border-radius: 22px;
	border-radius: 22px;
	background-color: #f8f8f8;
}
#TIMETABLE_EDIT .modal-content .form-group {
	padding: 10px 0;
}

/*************************************/

/***********時間割表示画面************/
#TIMETABLE_VIEW td {
	cursor: pointer;
}
/*#TIMETABLE_VIEW td:hover {*/
/*background-color: #FFFCCC;*/
/*}*/
#TIMETABLE_VIEW .active {
	background-color: #FFFCCC;
}
#TIMETABLE_VIEW td:hover.active {
	background-color: #FFFFAA;
}
#TIMETABLE_VIEW thead th {
	width: 16%;
}
#TIMETABLE_VIEW #week-select {
	margin-bottom: 10px;
}
#TIMETABLE_VIEW p.subject {
	font-size: 14px;
	font-weight: 900;
}
#TIMETABLE_VIEW p.teacher {
	font-size: 13px;
}
#TIMETABLE_VIEW p.classroom {
	font-size: 16px;
}

#TIMETABLE_VIEW #selection.inactive {
	background-color: #808080;
	border-color: #808080;
}
#TIMETABLE_VIEW table td span,#TIMETABLE_EDIT table td span{
	display: none;
}
#TIMETABLE_VIEW table td {
	height: 127px;
}
#TIMETABLE_VIEW table tbody th{
	vertical-align: middle;
}

#TIMETABLE_VIEW .today {
	background-color: #FFFCDB;
}
#TIMETABLE_VIEW th.today {
	background: rgba(255,252,219,0.5);
}
#TIMETABLE_VIEW .now {
	background-color: #FFFAB5;
}

/*************************************/

/*TODO @Author kasai リファクタリング*/
/*#COLLEGE_LIST #edit_modal_content {*/
/*display: none;*/
/*z-index: 1;*/
/*position: fixed;*/
/*border: 2px solid #aaa;*/
/*background: #fff;*/
/*}*/
#edit_modal_content {
	display: none;
	z-index: 1;
	position: fixed;
	width: 350px;
	text-align: center;
	/*border: 2px solid #aaa;*/
	/*background: #fff;*/
}
.custom-alert-success {
	color: #3c763d;
	background-color: #e9ffd9;
	background-image: url("../img/success.png");
	background-repeat: no-repeat;
	background-position: 10px 50%;
	background-size: auto 30px;
	border-color: #3c763d;
	box-shadow:0px 0px 50px;
}
.custom-alert-danger {
	color: #a94442;
	background-color: #f2dede;
	background-image: url("../img/error.png");
	background-repeat: no-repeat;
	background-position: 10px 50%;
	background-size: auto 30px;
	border-color: #a94442;
	box-shadow:0px 0px 30px;
}
/*TODO ここまで*/
#note_view{
	color: #fff;
	display: none;
	position: absolute;
	border: 1px solid;
	background-color: #5c4d4a;
	padding: 5px 10px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#note_view:after, #note_view:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#note_view:after {
	border-color: rgba(92, 77, 74, 0);
	border-bottom-color: #5c4d4a;
	border-width: 5px;
	margin-left: -5px;
}
#note_view:before {
	border-color: rgba(92, 77, 74, 0);
	border-bottom-color: #5c4d4a;
	border-width: 11px;
	margin-left: -11px;
}

/*****************出席率一覧画面**********************/
#ATTENDANCE_RATE_LIST thead tr {
	background-color: #CB422C;
	color: #fff;
}
#ATTENDANCE_RATE_LIST .badge {
	width:43.2969px;
}
@media screen and (max-width: 480px) {
	#ATTENDANCE_RATE_LIST tbody td:nth-child(5) {
		text-align: center;
	}
}
/*****************************************************/

/*****************総合出席率一覧画面**********************/
#TOTAL_ATTENDANCE_RATE_LIST thead tr {
	background-color: #CB422C;
	color: #fff;
}
#TOTAL_ATTENDANCE_RATE_LIST .badge {
	width:43.2969px;
}
/*****************************************************/


/*************出席取るクラス一覧画面******************/

#RESPONSIBLE_LIST .box {
	position: relative;
	border: 3px solid #D73925;
}
#RESPONSIBLE_LIST .box-body {
	margin: 8px;
	padding: 10px;
	border: 1px solid;
	border-color: #D73925;
}
#RESPONSIBLE_LIST .class_name {
	padding-top: 18px;
	text-align: right;
	color: #000;
}
#RESPONSIBLE_LIST .lesson_name {
	position: absolute;
	background-color: #D73925;
	left: 0;
	padding: 5px;
	color: #fff;
}
/*********************************************************/

/*************担当するクラスの授業一覧******************/

#NEW_RESPONSIBLE_LIST .box {
	position: relative;
	border: 3px solid #D73925;
}
#NEW_RESPONSIBLE_LIST .box-body {
	margin: 8px;
	padding: 10px;
	border: 1px solid;
	border-color: #D73925;
}
#NEW_RESPONSIBLE_LIST .class_name {
	position: absolute;
	background-color: #D73925;
	left: 0;
	padding: 5px;
	color: #fff;
}
#NEW_RESPONSIBLE_LIST .college_name {
	padding-top: 18px;
	text-align: right;
	color: #000;
}
#NEW_RESPONSIBLE_LIST .department_name {
	text-align: right;
	color: #000;
}
#NEW_RESPONSIBLE_LIST .class_member {
	text-align: right;
	color: #000;
}
#NEW_RESPONSIBLE_LIST .class_name {
	margin-top: 6px;
	width: 187px;
}
#NEW_RESPONSIBLE_LIST .college_name {
	margin-top: 35px;
}
/*********************************************************/


/****************出席を取る画面***************************/
#TAKE_ATTENDANCE .modal-body {
	height: 100px;
}
#TAKE_ATTENDANCE .panel-heading > div > div > div:nth-child(2) {
	padding: 10px;
}
#TAKE_ATTENDANCE .box {
	border: 2px solid;
	-moz-border-radius: 22px 22px 22px 22px;
	-webkit-border-radius: 22px 22px 22px 22px;
	border-radius: 22px 22px 22px 22px;
}
#TAKE_ATTENDANCE .box-header:nth-child(1) {
	border-bottom: 10px solid #D73925;
}
#TAKE_ATTENDANCE .box-footer{
	border-top: none;
	-moz-border-radius: 0 0 22px 22px;
	-webkit-border-radius: 0 0 22px 22px;
	border-radius: 0 0 22px 22px;
}
#TAKE_ATTENDANCE .box-footer > .btn-primary,
#TAKE_ATTENDANCE .panel-body > .btn-primary {
	background-color: #fff;
	color: #3c8dbc;
	border: 2px solid;
}
#TAKE_ATTENDANCE .box-footer > .btn-warning,
#TAKE_ATTENDANCE .panel-body > .btn-warning {
	background-color: #fff;
	color: #f39c12;
	border: 2px solid;
}
#TAKE_ATTENDANCE .box-footer > .btn-danger,
#TAKE_ATTENDANCE .panel-body > .btn-danger {
	background-color: #fff;
	color: #dd4b39;
	border: 2px solid;
}
#TAKE_ATTENDANCE .box-footer > button,
#TAKE_ATTENDANCE .panel-body > button {
	outline: none;
	-moz-border-radius: 155px 155px 155px 155px;
	-webkit-border-radius: 155px 155px 155px 155px;
	border-radius: 155px 155px 155px 155px;

}
#TAKE_ATTENDANCE .create-circle {
	width: 38px;
	height: 30px;
	background-color: #999;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
#TAKE_ATTENDANCE .panel-heading {
	background-color: #fff;
}
#TAKE_ATTENDANCE .sp-size {
	display: none;
}
#TAKE_ATTENDANCE .sp-size > div {
	margin-bottom: 10px;
}
#TAKE_ATTENDANCE .sp-size > div > .btn:nth-child(1) {
	background-color: #dd4b39;
	color: #fff;
}
#TAKE_ATTENDANCE .modal-content {
	border: 3px solid;
	-moz-border-radius: 24px 24px 24px 24px;
	-webkit-border-radius: 24px 24px 24px 24px;
	border-radius: 24px 24px 24px 24px;
}
#TAKE_ATTENDANCE .modal-inner {
	margin: 10px;
	border: 2px solid;
	-moz-border-radius: 24px 24px 24px 24px;
	-webkit-border-radius: 24px 24px 24px 24px;
	border-radius: 24px 24px 24px 24px;
}
#TAKE_ATTENDANCE .modal-header > .close {
	outline: none;
	border: 3px solid;
	-moz-border-radius: 155px 155px 155px 155px;
	-webkit-border-radius: 155px 155px 155px 155px;
	border-radius: 155px 155px 155px 155px;
}
#TAKE_ATTENDANCE .close > span {
	margin: 5px;
}
#TAKE_ATTENDANCE .modal-footer {
	clear: both;
}
#TAKE_ATTENDANCE .modal-footer > div > .btn {
	width: 80px;
	color: #fff;
	background-color: #C1C1C1;
	outline: none;
	-moz-border-radius: 155px 155px 155px 155px;
	-webkit-border-radius: 155px 155px 155px 155px;
	border-radius: 155px 155px 155px 155px;
}
#TAKE_ATTENDANCE .cell {
	display: table-cell;
}
#TAKE_ATTENDANCE h3.text-center {
	margin-top: 25px;
	margin-bottom: -12px;
}
@media only screen and (max-width: 767px){
	#TAKE_ATTENDANCE .sp-size {
		display: block;
	}
	#TAKE_ATTENDANCE .pc-size {
		display: none;
	}
}
#TAKE_ATTENDANCE .panel-heading > div > div > ul {
	display: none;
	list-style: none;
}
@media only screen and (max-width: 450px) {
	#TAKE_ATTENDANCE .panel-heading > div > div > div:nth-child(2) {
		display: none;
	}
	#TAKE_ATTENDANCE .panel-heading > div > div > div:nth-child(4) {
		padding: 10px;
	}
	#TAKE_ATTENDANCE .panel-heading > div > div >ul {
		display: table-cell;
	}
}

#TAKE_ATTENDANCE #myModal {
	display: block;
	padding-right: 17px;
}
#TAKE_ATTENDANCE input[type="image"] {
	width: 49%;
	margin-top: -5px;
}
#TAKE_ATTENDANCE .panel-default{
	margin-top: 0;
}
#TAKE_ATTENDANCE .panel-body {
	border-top: none !important;
}
#TAKE_ATTENDANCE .collapsed-box > div > .kana {
	display: none;
}
/*********************************************************/

/**************学内説明会登録・編集**************************/
#ON_CAMPUS_FORM #on_campus_form_form {
	margin: 0 auto;
}
#ON_CAMPUS_FORM .inside_box {
	margin: 30px 30px 30px 25px;
}
#ON_CAMPUS_FORM #on_campus_form_box {
	border: solid 1px #d2d6de;
	border-left-width: 15px;
	border-left-color: #dd4b39;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}
#ON_CAMPUS_FORM #on_campus_form_form_button {
	text-align: center;
}
#ON_CAMPUS_FORM .append-box{
	margin-top:8px;
}
#ON_CAMPUS_FORM span {
	margin-top:12px;
}
#ON_CAMPUS_FORM #wook_add{
	margin-left:-20px;
}
/*********************************************************/

/*****************学内説明会登録確認**********************/
#ON_CAMPUS_CONFIRM #on_campus_confirm_form {
	margin: 0 auto;
}
#ON_CAMPUS_CONFIRM .inside_box {
	margin: 30px 30px 30px 25px;
}
#ON_CAMPUS_CONFIRM #on_campus_confirm_box {
	border: solid 1px #d2d6de;
	border-left-width: 15px;
	border-left-color: #dd4b39;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}
#ON_CAMPUS_CONFIRM #on_campus_confirm_form_button {
	text-align: center;
}
#ON_CAMPUS_CONFIRM .put-bottom-line {
	border-bottom: solid 1px #d2d6de;
}
/*********************************************************/

/******************学内説明会一覧画面*********************/
#ON_CAMPUS_LIST .box {
	border-top: none;
	box-shadow: none;
}
#ON_CAMPUS_LIST .outer-box-header {
	background: #ECF0F5;
}
/*#ON_CAMPUS_LIST .outer-box-header .pull-left {*/
/*margin-top: 1px;*/
/*}*/
#ON_CAMPUS_LIST .tab {
	background: #fff;
	border: 1px solid #9BBFD3;
}
#ON_CAMPUS_LIST .outer-box-body {
	padding: 2%;
	border: 2px solid #98B8CC;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
#ON_CAMPUS_LIST .inner-box-header {
	font-size: 20px;
	font-weight: bold;
	background-color: #ECEFF3;
	border-bottom: 2px solid #C1C1C1;
	border-radius: 25px 25px 0 0;
	-moz-border-radius: 25px 25px 0 0;
	-webkit-border-radius: 25px 25px 0 0;
}
#ON_CAMPUS_LIST .inner-box {
	border: 2px solid #C1C1C1;
	-moz-border-radius: 25px 25px 25px 25px;
	-webkit-border-radius: 25px 25px 25px 25px;
	border-radius: 25px 25px 25px 25px;
}
#ON_CAMPUS_LIST .left-in-box {
	font-size: 16px;
}
#ON_CAMPUS_LIST .inner-title {
	font-weight: bold;
}
#ON_CAMPUS_LIST .right-in-box > .btn {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}
#ON_CAMPUS_LIST .right-in-box > .btn-primary {
	background: #7A9AC5;
}
#ON_CAMPUS_LIST .box-header > .row {
	margin: -10px;
	margin-top: 1px;
}
#ON_CAMPUS_LIST .outer-box-header.clearfix > .pull-right {
	width: 20%;
}
#ON_CAMPUS_LIST .outer-box-header.clearfix > .pull-left {
	width: 80%;
}
#ON_CAMPUS_LIST .hd-btn {
	display: none;
}
@media only screen and (max-width: 549px) {
	#ON_CAMPUS_LIST .outer-box-header.clearfix > .pull-left {
		width: 100%;
	}
}
@media only screen and (max-width: 767px) {
	#ON_CAMPUS_LIST .button-box {
		width: 100% !important;
		margin: 0 !important;
	}
	#ON_CAMPUS_LIST .hd-btn {
		display: block;
	}
	#ON_CAMPUS_LIST .outer-box-header > a {
		display: none;
	}
	#ON_CAMPUS_LIST .tab {
		padding: 16px;
	}
}

/*********************************************************/

/******************学内説明会一覧画面*********************/
#ON_CAMPUS_DEADLINE .inner-page-title {
	font-size:24px;
	margin-bottom: 13px;
}
#ON_CAMPUS_DEADLINE .page-count {
	margin-top: 9px;
}
#ON_CAMPUS_DEADLINE .box {
	border-top: none;
	box-shadow: none;
}
#ON_CAMPUS_DEADLINE .outer-box-header {
	background: #ECF0F5;
}
#ON_CAMPUS_DEADLINE .tab {
	background: #fff;
	border: 1px solid #9BBFD3;
}
#ON_CAMPUS_DEADLINE .inner-box-header {
	font-size: 20px;
	font-weight: bold;
	background-color: #ECEFF3;
	border-bottom: 2px solid #C1C1C1;
	border-radius: 25px 25px 0 0;
	-moz-border-radius: 25px 25px 0 0;
	-webkit-border-radius: 25px 25px 0 0;
}
#ON_CAMPUS_DEADLINE .inner-box {
	border: 2px solid #C1C1C1;
	-moz-border-radius: 25px 25px 25px 25px;
	-webkit-border-radius: 25px 25px 25px 25px;
	border-radius: 25px 25px 25px 25px;
}
#ON_CAMPUS_DEADLINE .left-in-box {
	font-size: 16px;
}
#ON_CAMPUS_DEADLINE .inner-title {
	font-weight: bold;
}
#ON_CAMPUS_DEADLINE .right-in-box > .btn {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}
#ON_CAMPUS_DEADLINE .button-disabled .btn-primary {
	background-color: #fff;
	color: #3c8dbc;
	border: 2px solid;
}
#ON_CAMPUS_DEADLINE .button-disabled .btn-danger {
	background-color: #fff;
	color: #dd4b39;
	border: 2px solid;
}
#ON_CAMPUS_DEADLINE .right-in-box > .btn-primary {
	background: #7A9AC5;
}
#ON_CAMPUS_DEADLINE .box-header > .row {
	margin: -10px;
	margin-top: 1px;
}
#ON_CAMPUS_DEADLINE .outer-box-header.clearfix > .pull-right {
	width: 20%;
}
#ON_CAMPUS_DEADLINE .outer-box-header.clearfix > .pull-left {
	width: 80%;
}
#ON_CAMPUS_DEADLINE .hd-btn {
	display: none;
}
@media only screen and (max-width: 549px) {
	#ON_CAMPUS_DEADLINE .outer-box-header.clearfix > .pull-left {
		width: 100%;
	}
}
@media only screen and (max-width: 767px) {
	#ON_CAMPUS_DEADLINE .button-box {
		width: 100% !important;
		margin: 0 !important;
	}
	#ON_CAMPUS_DEADLINE .hd-btn {
		display: block;
	}
	#ON_CAMPUS_DEADLINE .outer-box-header > a {
		display: none;
	}
	#ON_CAMPUS_DEADLINE .tab {
		padding: 16px;
	}
}

/*********************************************************/

