html, body {
	width: 100%;
	height: 100%;
	background-image: url("../img/login-bg.jpg");
	background-size: cover;
	background-position: top center;

}
body {
}

.content-wrapper {
    background-color: #fff;

}
/**************ログイン画面****************/
#LOGIN {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}
#LOGIN #login_body {
	padding-top: 10%;
}
#LOGIN #login_body .login-box-header b {
	color: #FFFAFA;
	font-family: fantasy;
	font-size: 50px;
}
#LOGIN #login_body .login-button {
	font-family: fantasy;
	font-size: 35px;
}
#LOGIN #login_body .bg-white {
	background: #ffffff !important;
}
@media screen and (max-width: 767px) {
	#LOGIN #login_body .login-box {
		padding: 50px;
	}
}
#LOGIN #login_body .text-right > a {
	color: #fff;
	text-decoration: underline;
}
/**************************************/
/*************404画面*******************/
#NOT_FOUND #not_found {
	font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	color: #FFF;
}
#NOT_FOUND h1 {
	font-size: 4em;
}
#NOT_FOUND .back {
	font-size: 2em;
	color: #FFF;
}
/**************************************/

