html, body {
	width: 100%;
	height: 100%;
	background-image: url("../img/login-bg.jpg");
	background-size: cover;
	background-position: top center;
}
body {
	padding-top: 10%;
}

.content-wrapper {
    background-color: #fff;
}
#LOGIN .login-box-header b {
	color: #FFFAFA;
	font-family: fantasy;
	font-size: 50px;
}
#LOGIN .login-button {
	font-family: fantasy;
	font-size: 35px;
}
@media screen and (max-width: 767px) {
	#LOGIN .login-box {
		padding: 50px;
	}
}