/* 全画面で共通 */
* {
	font-family: "Avenir Next", Verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", "Yu Gothic", "メイリオ", Meiryo, Osaka, sans-serif;
}

html, body {
	background: #222d32;
	width: 100%;
}

.content-wrapper {
	background-image: url("../img/main-bg.png");
}

.main-footer {
	background-image: url("../img/main-bg.png");
}

/* メインコンテンツを囲むボックスレイアウト */
.box-main {
	background: none;
	border-top: none;
}
.box-main .box-body {
	background-color: rgba(255, 255, 255, 0.3);
}

/* テーブルレイアウト */
.table-base {
	border: 2px solid #fff;
}
.table-base thead th {
	border-right: 1px solid #fff;
	box-shadow: -1px -1px 5px 0 rgba(210, 210, 210, 0.3) inset;
	background-color: #3c8dbc !important;
	color: #fff;
}
.table-base thead th:last-child {
	border-right: none;
}
.table-base tbody tr:nth-child(even) {
	background-color: #ecf0f5;
}
.table-base tbody tr:nth-child(odd) {
	background-color: #f9f9f9;
}

.table-base tbody tr td {
	border-right: 1px solid #fff;
	box-shadow: -1px -1px 5px 0 rgba(193, 193, 193, 0.3) inset;
	vertical-align: middle !important;
}
.table-base tbody tr td:last-child {
	border-right: none;
}
.table-base tbody tr {
	border-bottom: 2px solid #fff;
}