/* 全画面で共通 */
* {
	font-family: "Avenir Next", Verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", "Yu Gothic", "メイリオ", Meiryo, Osaka, sans-serif;
}

html, body {
	background: #222d32;
	width: 100%;
}

.content-wrapper {
	background-image: url("../img/main-bg.png");
}

.main-footer {
	background-image: url("../img/main-bg.png");
}

/* ページ全体のスキン */
.skin-expand .sidebar a {
	color: #fff;
}
.skin-expand .main-header .navbar .sidebar-toggle {
	color: #fff;
}
.skin-expand .main-header .navbar .nav>li>a {
	color: #fff;
}
.skin-expand .sidebar-menu>li>a {
	border-left: 3px solid #333;
}
.skin-expand .sidebar-menu>li.header {
	color: #fff;
	background: #1a2226;
}
.skin-expand .wrapper, .skin-expand .main-sidebar, .skin-expand .left-side {
	background-color: #333;
}
.skin-expand .sidebar-menu>li {
	border-bottom: 1px solid #444;
}
.skin-expand .sidebar-menu>li:hover>a, .skin-expand .sidebar-menu>li.active>a {
	color: #fff;
	background: #222;
	border-left-color: #ccc;
}
.skin-expand .treeview-menu>li>a {
	color: #ccc;
}
.skin-expand .treeview-menu>li>a:hover {
	color: #eee;
}
.skin-expand .sidebar-menu>li>.treeview-menu {
	background: #444;
}

/* メインコンテンツを囲むボックスレイアウト */
.box-main {
	background: none;
	border-top: none;
}
.box-main .box-body {
	background-color: rgba(255, 255, 255, 0.3);
}

/* テーブルレイアウト */
.table-base {
	border: 2px solid #fff;
}
.table-base thead th {
	border-right: 1px solid #fff;
	box-shadow: -1px -1px 5px 0 rgba(210, 210, 210, 0.3) inset;
	background-color: #3c8dbc !important;
	color: #fff;
}
.table-base thead th:last-child {
	border-right: none;
}
.table-base tbody tr:nth-child(even) {
	background-color: #ecf0f5;
}
.table-base tbody tr:nth-child(odd) {
	background-color: #f9f9f9;
}

.table-base tbody tr td {
	border-right: 1px solid #fff;
	box-shadow: -1px -1px 5px 0 rgba(193, 193, 193, 0.3) inset;
	vertical-align: middle !important;
}
.table-base tbody tr td:last-child {
	border-right: none;
}
.table-base tbody tr {
	border-bottom: 2px solid #fff;
}
