/*全画面で共通*/
* {
	font-family: "Avenir Next", Verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", "Yu Gothic", "メイリオ", Meiryo, Osaka, sans-serif;
}

html, body {
	background: #222d32;
	width: 100%;
}

.content-wrapper {
	background-image: url("../img/main-bg.png");
}

.main-footer {
	background-image: url("../img/main-bg.png");
}