.note{
	display: none;
}
body {
	width : 100%;
}
table th,td{
	border: 1px #000 solid;
}
#edit-table > tbody > tr{
	width:135px;
	height:100px;
}

#edit-table > tbody > tr:nth-child(1){
	width:135px;
	height:30px;
}
